/* general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  display: block;
  font-weight: 400;
  clear: inline;
}

body {
  /* width: 100%; */
}

section {
  background-color: lightsalmon;
}

/* header */

nav {
  background-color: darkcyan;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 1rem 3rem;
}

nav a {
  color: lightsalmon;
  text-decoration: none;
}

@media only screen and (max-width: 1048px) {
  nav a {
    font-size: 1rem;

  }
}

@media only screen and (max-width: 640px) {
  nav a {
    font-size: 0.8rem;

  }
}

@media only screen and (max-width: 320px) {
  nav li {
    margin: 1rem;
  }
  nav a {
    font-size: 0.7rem;

  }
}

/* bar */

.bar {
  height: 30rem;
}

.bar {
  display: flex;
}

.title {
  color: salmon;
  background-color: saddlebrown;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  padding: 2rem;
  align-self: center;
}

@media only screen and (max-width: 640px) {
  .bar {
    height: 20rem;
  }
  .title {
    font-size: 1.5rem;
    padding: 1.2rem;
  }
}

@media only screen and (max-width: 320px) {
  .bar {
    height: 15rem;
  }
  .title {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}

/* intro */

.intro {
  height: 9rem;
}

.intro h3,
.intro h4 {
  margin-left: 1rem;
}
.intro h3 {
  color: yellow;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.intro h4 {
  color: white;
  line-height: 2rem;
  font-size: 1.1rem;
  width: 70%;
}

.intro a {
  display: inline;
}

@media only screen and (max-width: 1048px) {
  .intro {
    height: 8rem;
    padding-bottom: 2rem;

  }

  .intro h3 {
    font-size: 1.5rem;
  }
  .intro h4 {
    width: 95%;
  }
}

@media only screen and (max-width: 640px) {
  .intro {
    height: 8rem;
    padding-bottom: 2rem;

  }

  .intro h3 {
    font-size: 1.5rem;
  }
  .intro h4 {
    width: 90%;
  }
}

@media only screen and (max-width: 320px) {
  .intro {
    height: 10rem;
  }

  .intro h3,
  .intro h4 {
    margin-left: 0.5rem;
  }
  .intro h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .intro h4 {
    width: 90%;
    line-height: 1.5rem;
    font-size: 1.1rem;
  }
}

/* photos */

.photos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25rem;
}

.photos figure {
  width: 30%;
}

.photos figure img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1048px) {
  .photos {
    flex-direction: column;
    height: 120rem;
    justify-content: center;
  }
  .photos figure {
    width: 100%;
    margin: .8rem;
  }
}


@media only screen and (max-width: 640px) {
  .photos {
    flex-direction: column;
    height: 92rem;
    justify-content: center;
  }
  .photos figure {
    margin: .8rem;
  }
}

@media only screen and (max-width: 320px) {
  .photos {
    flex-direction: column;
    height: 45rem;
    justify-content: center;
  }
  .photos figure {
    margin: 0.3rem;
  }
}

@media only screen and (max-width: 640px) {
  .photos figure {
    width: 100%;
  }
}

/* testimonial */

.testimonial {
  background-color: lightseagreen;
  height: 20rem;
  color: yellow;
}

.testimonial h1,
.testimonial p {
  margin-left: 1rem;
  padding-top: 2rem;
}

.testimonial h1 {
  font-size: 2.8rem;
}

@media only screen and (max-width: 1048px) {
  .testimonial {
    height: 14rem;
  }

  .testimonial h1 {
    font-size: 2.3rem;
  }

  .testimonial p {
    padding-top: 1rem;

    font-size: 1rem;
  }
}


@media only screen and (max-width: 640px) {
  .testimonial {
    height: 14rem;
  }

  .testimonial h1 {
    font-size: 1.8rem;
  }

  .testimonial p {
    padding-top: 0.8rem;

    font-size: .8rem;
  }
}


@media only screen and (max-width: 320px) {
  .testimonial {
    height: 8rem;
  }
  .testimonial h1,
  .testimonial p {
    margin-left: 0.5rem;
    padding-top: 1rem;
  }
  .testimonial h1 {
    font-size: 1rem;
  }

  .testimonial p {
    font-size: 0.5rem;
  }
}

/* cta */

.cta {
  height: 65rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cta h1 {
  color: yellow;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.cta figure {
  width: 50%;
}

.cta figure img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1048px) {
  .cta {
    height: 45rem;
  }

  .cta h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 640px) {
  .cta {
    height: 33rem;
  }

  .cta h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .cta {
    height: 20rem;
  }

  .cta h1 {
    font-size: 1.2rem;
  }
}
